section{
    color: red;
    font-size: 30px;
    background-color: yellow;
    border: 2px solid black;
}

@media screen and (max-width:700px) {
    section{
        color: white;
        background-color: black;
        border:4px dashed lightgreen;
        font-size: 20px;
    }
}