div{
    display: inline-block;
    height: 250px;
    width: 250px;
    background-color: orange;
    border: 2px solid black;
}

#box{
    position: absolute; 
    position: relative;
    top:10px;
    /* left:0px;  */
    right: 10px;
    background-color: blue; 
}

section{
    border: 2px solid red;
}