div{
    height: 200px;
    width: 200px;
    /* background-color: orange; */
    /* thichness type color */
    border: 2px solid yellow;
    border: 3px dotted red;
    border: 3px dashed blue;
    border-radius: 50%;
}
