section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 450px;
    height: 450px; 
    margin: 100px auto;
}

div{
    height: 200px;
    width: 200px;
    background-color: orange;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
}
.box-1{
    background-color: red;
}
.box-2{
    background-color: yellow;
}
.box-3{
    background-color: greenyellow;
}


@keyframes rotate {
    0%{
        transform: translateX(200px) rotate(360deg);
    }
}