article{
    height: 99vh;
    display: flex;
    /* flex-direction: column; */
    border: 3px solid red;
    /* horizontally change  */
    justify-content: center;
    justify-content: space-between;
    justify-content: end;
    justify-content: space-evenly;
    justify-content: space-around;
    align-items: end;
    align-items: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
div{
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    border: 2px solid black;
}